@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #033b4a;
    --secondary-color: #20c997;
    --gray: #4a4a4d;
    --bg-primary: #ecf0f3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    line-height: 1.6;
    font-family: 'Poppins',sans-serif;
}

h1,h2{
    font-family: 'Saira',sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
/* Animation */
    @keyframes moveBorder {
    0% {
        transform: translate(0, 0);
        box-shadow: 0 0 10px #ffc670;
    }
    50% {
        transform: translateY(5px);
        box-shadow: 0 0 20px #ff9800;
    }
    100% {
        transform: translateY(-5px);
        box-shadow: 0 0 20px #ff9901;
    }
    }

    .typing-css {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #20c997;
    font-weight: 600;
    font-size: 22px;
    color: #033b4a;
    animation: typing 7s steps(10) infinite, blink 0.6s infinite;
    }

    @keyframes typing {
    0%, 20% { width: 0ch; }
    50% { width: 7ch; } /* طول الكلمة 10 أحرف */
    100% { width: 0ch; }
    }

    @keyframes blink {
    50% { border-color: transparent; }
    }

    #scroll-indicator {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secondary-color);
    color: #fff;
    padding: 5px 15px;
    border-radius: 0 0 10px 10px;
    font-weight: 600;
    z-index: 10000;
    }




/* typing  */
.typing {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #fff;
  font-size: 40px;

  animation:
    typing 10s steps(30) infinite,
    blink 0.7s infinite;
}

@keyframes typing {
  0%   { width: 0 }
  50%  { width: 13ch }
  100% { width: 0 }
}

@keyframes blink {
  50% { border-color: transparent; }
}

/* Utility Classes */
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
}
.text-primary{
    color: var(--secondary-color);
}

.btn-primary{
    background-color: var(--secondary-color);
    color: #fff;
    margin: 10px;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary:hover{
    background-color: #15a076;
}
/* Header start */

header{
    background-color:var(--bg-primary);
    height: 100vh;
}

header .navbar{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 2px 2px 8px rgba(255, 226, 41, 0.3);

}

#home .navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    padding: 1.5rem 2rem;
    margin: auto;
}

.nav-link {
    position: relative;
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: none;
    padding: 5px 0;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: var(--secondary-color);
    transition: 0.3s;
}

    .nav-link.active::after {
    width: 100%;
}

#home #logo{
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 600;
    background: linear-gradient(
        to left,
        #001f3f,   
        #007bff,   
        #20c997,  
        #ff9800,   
        #000000    
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#home .navbar nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#home .navbar nav ul a{
    margin: 0 15px;
    color: var(--primary-color);
    font-weight: 600;
    transition:  all 0.3s ease;
}

#home .navbar nav ul a:hover{
    color: rgb(0, 255, 225);
}

#home .header-content{
    display:grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;     
    max-width: 1100px;
    margin: auto;
    padding: 5rem 2rem 0;
    height: 100%;

}

#home .header-content .content-text{
    margin-bottom: 5rem;
}

#home .header-content p span{
    font-weight: 700;
    font-size: 20px;
}
#home .header-content h1 span{
    color: var(--primary-color);
}

#home .header-content h1{
    font-size: 60px;
    color: var(--primary-color);
    text-shadow:  3px 3px 3px rgba(0,0,0,0.2);
    margin-top: 10px;
    
      
}

#home .header-content .title{
    color: var(--primary-color);
    margin: 10px 0;
    font-weight: 500;
}

#home .header-content .social{
    margin: 1rem  2rem;
}

#home .header-content .social a i{
    font-size: 20px;
    background-color: var(--gray);
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.3s ease;
}

#home .header-content .social a i:hover{
    transform: scale(0.85);
    transform: rotate(5deg);
}

#home .header-content img{
    max-width: 340px;
    border-radius: 50%;
    animation: moveBorder 3s infinite alternate;
    transition: all 3s ease ;
}

#home .header-content img:hover{
    transform: scale(0,8);
}

/* header .header-content  */
/* Header end */


/* about starr */

#about,
#skills,
#services,
#portfolio{
    padding: 6rem 0;
}

#about h2,
#skills h2,
#services h2,
#portfolio h2,
#contact h2{
    text-align: center;
    font-size: 38px;
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 1px;
}

#about h2 span{
    color: var(--secondary-color);
}

#about hr ,
#skills hr,
#services hr,
#portfolio hr,
#contact  hr{
    width: 100px;
    height: 3px;
    background-color: var(--secondary-color);
    border: none;
    margin: 5px auto 0;

}

#about .about-content .col-1 h3 span {
    color: var(--secondary-color);
}

#about .about-content{
  margin-top: 4rem;
  display: grid;
  grid-template-columns:1.5fr 1fr;
    align-items: center;     
    max-width: 1100px;
    margin: auto;
    padding: 5rem 2rem 0;
    height: 100%;
}
#about .about-content .col-1 {
    width: 70%;
}

#about .about-content .col-1 h3{
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

#about .about-content .col-1 p{
    color: var(--gray);
    margin-bottom: 20px;
    line-height: 1.8;
}

#about img{
    max-width: 340px;
    border-radius: 50%;
    animation: moveBorder 3s infinite alternate;
    transition: all 3s ease ;

}

#about .about-content .col-2 img:hover{
        transition: all 3s ease ;

}
/* about end */
#skills{
background-color: var(--primary-color);
}

#skills h2,
#portfolio h2{

    color:#fff;
    font-family:'Poppins',sans-serif;

}

#skills .skills-content
{
    margin-top: 2rem;
    background-color: #0f272d;
}

#skills .skills-content .row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    text-align: center;
}

#skills .skills-content .row .item{
    color:#fff;
    background-color: black;
    margin: 20px;
    padding: 1rem;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease;
}

#skills .skills-content .row .item:hover{
    box-shadow: 10px 10px 10px #00f4ab0e;
}

#skills .skills-content .row .item img{
    width: 40px;
    height: 40px;
}



#skills .row img{
    max-width: 40px;
}


/* services star */

#services,
#contact{
    background-color: #0074ab0c;
}

#services .heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#services .heading img{
    width: 55px;
    margin-right: 10px;
}

#services .container .item img{
    width: 80%;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 3px;
}
#services .row{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 4rem;
    text-align: center;  
    column-gap: 2rem;
    row-gap: 4rem;    
}

#services .row .item{
    background-color: #fff;
    padding: 30px 15px;
    box-shadow: 1px 1px 1px 2px  rgb(123, 120, 120)  ;
    border-radius: 15px;
    transition: all 0.3s ease;
    height: 90%;

}

#services .row .item h3{
    margin: 15px 0;
    color: var(--primary-color);
}

#services .row .item p{
   font-size: 14px;
   font-family: 500;
   margin-bottom: 25px;
}

#services .row .item:hover{
    transform: scale(1.05);
    background-color: #ffff;
    transform: rotate(0.4deg);
    box-shadow: 1px 1px 1px 2px  rgb(1, 251, 255) ,1px 1px 1px 2px  rgb(1, 251, 255) ;
    transform: translateY(-1rem);
}

#services .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;  
    gap: 10px;             
}

#services hr {
    width: 100px;
    height: 3px;
    background-color: var(--secondary-color);
    border: none;
    margin: 15px auto 30px;  
}

/* services end */

/* portfolio start */

#portfolio{
    background: var(--primary-color);
}

#portfolio .row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}

#portfolio .row .item{
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease ;
}

#portfolio .row .item:hover {
    transform: scale(1.05);
    transform: rotate(0.4deg);
    transform: translateY(-1rem);
}

#portfolio .row .item  .item-content{
   padding: 20px 15px 30px;
}

#portfolio .row .item .item-content h3{
    font-size: 20px;
    color:var(--primary-color);
    margin-bottom: 10px;
}

.tech-buttons {
    margin: 10px 2px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}


.tech-btn {
    font-size: 12px;
    padding: 5px 12px;
    border-radius: 20px;
    background: linear-gradient(135deg, #f3f4f6, #e5e7eb);
    color: #374151;
    font-weight: 600;
    cursor: default;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

/* Hover */
.tech-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

.tech-btn.html {
    background: linear-gradient(135deg, #ff8c42, #ff6a00);
    color: #fff;
}

.tech-btn.css {
    background: linear-gradient(135deg, #42a5f5, #1e88e5);
    color: #fff;
}

.tech-btn.js {
    background: linear-gradient(135deg, #f7df1e, #f1c40f);
    color: #1f2937;
}

.tech-btn:hover
 {
    opacity: 0.9;
}

.visit-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 6px 16px;
    border-radius: 25px;
    background: linear-gradient(135deg, #6366f1, #4f46e5);
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
}

.visit-btn:hover {
    background: linear-gradient(135deg, #4f46e5, #3730a3);
    transform: translateY(-2px);
}



#portfolio .row .item .item-content a{
    
    font-size: 14px;
    color: var(--secondary-color);
    font-weight: 500;
}

#portfolio .row .item img{
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid #07daff;

}

/* portfolio end */

/* contact start */

#contact{
    padding: 4rem 0;
}


#contact .row img{
    width: 100%;
}

#contact .row{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: #fff;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.2);
    padding: 2rem 3rem;
    column-gap: 2rem;
    border-radius: 10px;
}

#contact .row input,
#contact .row textarea{
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    outline: none;
    background-color: #00f4ab0c;
    border: 1px solid #bbb;
}
/* contact end */

/* footer start */
.scroll-up {
    position: fixed;      
    bottom: 20px;         
    right: 20px;          
    font-size: 18px;
    color: #fff;
    background-color: var(--secondary-color);
    padding: 10px 15px;   
    border-radius:10px;   
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    z-index: 1000;        
    transition: all 0.3s ease;
}

.scroll-up:hover {
    background-color: #15a076;
    transform: scale(1.1);
}

footer{
    background-color: #222;
    color: white;
    padding: 1rem 0;
    text-align: center;

}
/* footer end */


/* responsive website  start */
   /* tablet responsive strt */
     @media(max-width:768px){
        #home .navbar nav{
            display: block;
            text-align: center;
        }

        #home .navbar nav ul{
            margin-top: 20px;
        }

        #home .navbar nav ul a{
            margin: 0 8px;
        }
        header{
            height: auto; /* FIX */
            padding-bottom: 3rem;
        }

        #home .header-content{
            grid-template-columns: 1fr;
            text-align: center;
            padding-top: 8rem; /* FIX */
        }

        #home .header-content img{
            max-width: 200px;
            margin: 100px auto;
        }

        #home .header-content .content-text{
            margin-bottom: 0rem;
            margin-top: 3rem;
        }

        #home .header-content h1{
            font-size: 50px;
        }
        #about .about-content{
            grid-template-columns: 1fr;
            text-align: center;
        }
        #about .about-content .col-1 h3{
            font-size: 24px;
        }
        #about img{
            max-width: 240px;
            margin: auto;
        }
        #about .about-content,
        #contact .row{
            grid-template-columns: 1fr;
            row-gap: 3rem;
        }

        #skills .skills-content .row,
        #services .row,
        #portfolio .row
        {
            grid-template-columns: repeat(2,1fr);
        }

        #contact .row img{
            max-width: 250px;
            margin: auto;
        }

        #skills .skills-content .row {
        grid-template-columns: repeat(2, 1fr); /* عمودين */
        }
        #services .row {
        grid-template-columns: repeat(2, 1fr); /* عمودين */
    }


}
     



   @media(max-width:528px){
    #home .header-content{
        height: 100%;
        margin-bottom: 3rem;
    }
     #home .header-content h1{
        font-size: 35px;
     }

      #home .header-content p span{
        font-size: 16px; 
      }

    #home .header-content img{
        max-width: 200px;
        margin-bottom: 2rem;
    }

      
    #about h2,
    #skills h2,
    #services h2,
    #portfolio h2,
    #contact h2{
        font-size: 30px;
    }

    #about{
        padding: 4rem 0;
    }

    #about h2{
        font-size: 30px;
    }

    #about .about-content{
        gap: 2rem;
    }

    #about .about-content .col-1 h3{
        font-size: 22px;
    }
    
    #about .about-content .col-1 p{
        font-size: 14px;
    }
   
    #about img{
        max-width: 200px;
    }

    #skills .skills-content .row,
    #services .row,
    #portfolio .row
    {
        grid-template-columns: repeat(1,1fr);
    }
#about .about-content{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;   
    width: 100%;  
    margin: auto;
    padding: 5rem 0 0;
    height: 100%;
}

#about .about-content .col-1 {
    width: 100%;
}

#about .about-content .col-2 {
 width: 100%;
}

#skills .skills-content .row {
    grid-template-columns: repeat(1, 1fr); /* عمود واحد */
}

#skills .skills-content .row .item {
    font-size: 16px;
    padding: 0.8rem;
}

#skills .skills-content .row .item img {
    width: 35px;
    height: 35px;
}

#services .row {
    grid-template-columns: 1fr; /* عمود واحد */
}

#services .row .item {
    padding: 20px 10px;
}

#services .row .item h3 {
    font-size: 18px;
}

#services .row .item p {
    font-size: 13px;
}

#services .heading h2 {
    font-size: 28px;
}

#services .heading img {
    width: 45px;
}

#portfolio h2{
    font-size: 28px;
}

#portfolio .item-content h3
{
    font-size: 16px;
}
.btn-primary{
    background-color: var(--secondary-color);
    color: #fff;
    margin: 8px;
    padding: 8px 20px;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

   }
   

/* responsive website  start */


